<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/pedidos.css" />
      

       
    
</head>

<body>

<div id='superior'>
    
</div>

<section id='contenedor'>
   <header >
         <div id='logo'>
            <img src="imagenes/logo.png">
         </div>


       
           <h2 class='margin-none'>Pedidos</h2>
         
         <label id='user' >
           User
         </label>
              
        
   </header>
        


        <aside >
              <nav>
                  <ul class='list-none'>
                    <li id='primero'>
                      
                      <label class="color-azul">Mis Pedidos</label>
                       <UL>
                         <li>Proximos</li>
                       </UL>
                    </li>

                    <li >
                       <label class="color-verde">Mis Productos</label>
                        <UL>
                         <li>Agregar</li>
                       </UL>

                    </li>

                    <li id='descripcion'>
                      
                       <label class="color-rojo">Mis Categorias</label>
                       <UL>
                         <li>Agregar</li>
                       </UL>
                    </li>

                    <li>
                      
                       <label class="color-amarillo">Administración</label>
                         
                          <ul >
                            <li>Tiendas</li>
                            <li>Manejo de envios</li>
                            <li>Pasarelas</li>
                            <li>Clientes</li>
                          </ul>
                    </li>

                    <li >
                      
                       <label class="color-naranja">Mi Estilo</label>
                        <UL>
                         <li>Editar</li>
                       </UL>
                    </li>
                   </ul>
            </nav>

                     
                 
        </aside>
        

        <section id='contenedor-tabla'>

            
            <table id='pedidos'>

            <tr  id='cabecera'>
              <td >Codigo</td>
              <td >Fecha</td>
              <td >Descripción</td>
              <td >4</td>
              <td >5</td>

            </tr>
              
              <tr>
                <td >1</td>
                <td >2</td>
                <td >3</td>
                <td >4</td>
                <td >5</td>
              </tr>
              
              <tr>
                <td >1</td>
                <td >2</td>
                <td >3</td>
                <td >4</td>
                <td >5</td>
              </tr>

            </table>
          
        </section>


        


</section>

        <footer>
          <div id='inferior'>
           <p>Mind On Cloud © 2013 &nbsp;|&nbsp; Todos los derechos Reservados</p> 
          </div>
        </footer>



       

</body>

</html>