body
	font-family 'Amaranth', sans-serif !important
	#container
		width 100%
		font-size 18px
		#header
			padding 1em
			background #F8F8F8;
			margin-bottom 0 !important
			header
				max-width 800px
				margin auto
				nav
					#logo
						font-size 59px
						width 65%
						a
							color #FF4700
					.noti
						margin-left 10px
					button
						font-size 18px
						width 270px
		#contentContainer
			max-width 800px
			min-height 600px
			margin auto
			#imageContainer
				width 100%
				overflow hidden
				height 300px
				background url('http://127.0.0.1:8080/static/yopi/backyopi.jpg')
				background-size 100% auto
			#users
				li
					margin-left 30px	
			#contentCategories
				a
					display inline-block
					width 202px
					figure
						img
							width 200px
							height 200px
							border solid 4px #247DAD !important
						figcaption
							text-align:center
				.medio
					margin-left 11.5%
					margin-right 11.5%
	footer
		max-width 800px 
		overflow hidden
		margin auto
		margin-top 4em
		margin-bottom 3em
		padding 1em
		border-radius 5px
		border solid 1px #AD3303
		background #FF4700
		color white
a
	&:hover
		text-decoration none
.list-none
	margin 0
	padding 0
	list-style  none
	li
		display inline-block
		vertical-align middle
.imgRedonda
	border solid 4px #FF4700
	border-radius 50%
.color-azul
	color #247DAD
.color-negro
	color #000