body{
	color: #282f33;
}
h1{
	color: #282f33;
}
#content{
	width: 100%;
	min-height:400px; 
}
#paginas{
	text-align: center;
	font-weight: bold;
	color: #282f33;
}
.right{
	transform: rotate(180deg);
}