{% extends "template.html" %}
 {% block estilos %}
       {% load static from staticfiles %}
  <style type="text/css">
  #todo
  {
  
    margin-top: 20px;
  	padding: 15px;
  	height: auto;
  	background-color: white

  }
  .titulo1
  {
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 2em;
  	font-weight: bold;
  }
  .titulo2
  {
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 1.5em;
  	font-weight: bold;
  }
  </style>
 {% endblock %}

{% block contenido %}
<h2 class="titulo1">Condiciones de Uso</h2>
<div id='todo'>
<article id="terminos">


<h3 class="titulo2">Términos y Condiciones del Servicio.</h3>
Antes de crear una tienda online es importante que lea detenidamente, entienda y acepte las Condiciones de uso.
Al marcar la opción "Acepto las Condiciones de uso" usted está de acuerdo en aceptar los siguientes términos y condiciones ("Condiciones de uso"). Cualquier nueva característica o herramienta que pueda añadirse al actual servicio estarán también sujetas a los términos y condiciones de uso.
Utilizando el servicio, usted ha leído estos términos y condiciones y está de acuerdo con ellos. Si usted no está de acuerdo con todos los términos y condiciones, por favor, no utilice el servicio.
El Suscriptor declara tener la capacidad de contratar y disponer de autorizaciones y delegaciones necesarias para ello.
Wido se reserva el derecho a actualizar y cambiar los términos de servicio mediante la publicación de actualizaciones y cambios en el servicio web. Se aconseja que compruebe los términos y condiciones de servicio regularmente por si alguna actualización le pueda afectar.

<h3 class="titulo2">Descripción del Servicio</h3>

Wido es un portal web destinado a ofrecer servicios de e-commerce a profesionales a través del sitio web <a href="http://wido.mx/">http://www.wido.mx</a> y está gestionado por Juan Luis Martinez Mendoza (en adelante "Wido") titular del dominio <a href="http://wido.mx/">http://www.wido.mx</a>. 
Wido es un sistema que presta un Servicio en el cual los Usuarios pueden crear tiendas virtuales dentro del portal <a href="http://wido.mx/">http://www.wido.mx</a> para poder vender sus productos o servicios. Dentro del Servicio que presta Wido hay dos tipos de Usuarios: Usuarios que crean Tiendas Virtuales para vender sus productos (en adelante “Usuarios Vendedores”) y Usuarios quecompran productos o servicios en las Tiendas Virtuales creadas dentro del Servicio (en adelante “Usuarios Compradores”).
Usted debe saber que cuando crea una tienda virtual dentro del sistema Wido, usted es TOTALMENTE RESPONSABLE del funcionamiento de la tienda virtual que ha creado, así como de los datos que ha introducido en la tienda virtual, de las operaciones de compraventa que se realicen en la tienda virtual y del manejo de los datos personales de los Usuarios Compradores registrados en la tienda virtual. Wido declina toda responsabilidad del uso que los Usuarios Vendedores hacen de las tiendas virtuales que crean dentro del sistema.
Wido no interviene de ningún modo en la conclusión de las operaciones de compraventa entre los Usuarios Vendedores y los Usuarios Compradores del Servicio y, en particular, no está involucrado en los reembolsos o garantías que puedan haber sido ofrecidas. Así, cuando se produce una venta, usted y la otra parte (Usuarios Compradores) son los únicos responsables de que ésta se lleve a cabo.
Wido no tiene facultades para actuar ni en nombre del Usuario Vendedor ni en nombre del Usuario Comprador. Dado que la transacción únicamente tiene lugar entre los Usuarios Vendedores y Compradores. Wido no está implicada en las disputas que puedan surgir entre un Usuario Comprador y un Usuario Vendedor, ni en su resolución.
Usted entiende y acepta que el Servicio se proporciona TAL CUAL y SEGÚN DISPONIBILIDAD. Wido declina toda responsabilidad por la disponibilidad, seguridad o fiabilidad del Servicio, aunque hará todo lo que esté en sus manos para ofrecer un óptimo servicio.
Una vez finalizado el proceso de alta para la contratación de una tienda, en unos pocos minutos usted recibirá vía email la confirmación del alta con toda la información necesaria para su tienda.

<h3 class="titulo2">Modificaciones al Servicio y Precios</h3>

Wido se reserva el derecho de modificar, suspender o interrumpir el servicio con o sin previo aviso en cualquier momento y sin ninguna responsabilidad hacia usted. Wido se reserva el derecho de cobrar por el servicio que presta en su portal <a href="http://wido.mx/">http://www.wido.mx</a>.
Los Precios para la utilización de los servicios de Wido están sujetos a cambios y serán notificados a los Usuarios Vendedores en el portal <a href="http://wido.mx/">http://www.wido.mx</a> con 30 días naturales de antelación.
Tanto en las contrataciones mensuales, trimestrales o como anuales del servicio ya abonadas por parte del Usuario Vendedor , Wido no devolverá ni total ni parcialmente ninguna cantidad de dinero en el caso de que el cliente quisiera suspender el servicio.
Wido no será responsable ante Usted Usuario Vendedor ni  ante terceras partes por ninguna modificación, cambio de precio, suspensión o interrupción del Servicio.

<h3 class="titulo2">Formas de pago</h3>

La forma de pago de los servicios de Wido es por medio de tarjeta de crédito o por medio de depósito o transferencia bancaria.

<h3 class="titulo2">Usuarios del Servicio</h3>

Usted debe ser mayor de edad (18 años) para utilizar este servicio. Usted debe proporcionar una información real y actual de sus datos personales, dirección y cualquier otra información que pueda ser necesaria como parte del proceso de registro y/o el uso continuado del Servicio. Usted es responsable de mantener la confidencialidad de su contraseña y de la información de su cuenta, y es responsable de todas las actividades que se producen al respecto. Wido no puede y no será responsable por cualquier pérdida o daño en su fracaso de mantener la seguridad de su cuenta y contraseña. Wido se reserva el derecho de rechazar a prestar el servicio a cualquier persona y en cualquier momento, sin previo aviso.

<h3 class="titulo2">Representaciones y garantías</h3>


Usted manifiesta y garantiza que toda la información que ha proporcionado a Wido es correcta y actual, y que usted tiene todo el derecho, poder y la autoridad para aceptar este Acuerdo y llevar a cabo los actos que a continuación se especifican.

<h3 class="titulo2">Uso apropiado</h3>

Usted se compromete a utilizar el servicio prestado por Wido, en cumplimiento con todas las leyes locales, estatales, nacionales, internacionales, incluyendo las leyes relativas a la transmisión de datos personales de los Estados Unidos Mexicanos o de su país de residencia. Usted está obligado a cumplir las siguientes reglas para la utilización del Servicio prestado por Wido: (I) No puede utilizar el Servicio para cargar, transmitir o distribuir cualquier contenido o producto que sea ilegal, difamatorio, acosador, abusivo, fraudulento, obsceno, que contenga virus, o alguna otra forma nociva que sea razonablemente determinada por Wido; (II) No puede utilizar el Servicio para Insertar, transmitir o distribuir contenido o productos que infrinjan los derechos de propiedad intelectual; (III) Debe evitar que terceros utilicen el servicio por usted; (IV) No puede utilizar el Servicio para cualquier uso fraudulento o inapropiado.

La violación de cualquier punto de los anteriores puede dar como resultado la terminación inmediata y el incumplimiento de este Acuerdo de Términos y Condiciones del Servicio, y se podrán someter a sanciones y otras consecuencias jurídicas. Wido se reserva el derecho, pero no tiene ninguna obligación, de investigar su uso del Servicio, a fin de determinar si una violación del Acuerdo de Términos y Condiciones del Servicio se ha producido para incumplir cualquier ley.

<h3 class="titulo2">Inactividad de la cuenta</h3>

Después de un período de inactividad, Wido se reserva el derecho de inhabilitar o cancelar la cuenta del Usuario Vendedor. Si una cuenta ha sido desactivada por inactividad, la dirección web asociada a la cuenta desactivada puede ser dada a otro Usuario Vendedor sin previo aviso a usted o a cualquier otra parte.

<h3 class="titulo2">Modificaciones del producto</h3>

Wido dispone de total libertad para modificar las tiendas o administraciones de éstas para incluir mejoras, actualizaciones o nuevas funcionalidades.

 <h3 class="titulo2">Condiciones Generales</h3>

Wido no garantiza que el servicio será ininterrumpido, puntual, seguro, o libre de errores.
Wido tampoco garantiza los resultados que han de obtenerse de la utilización del Servicio que presta, ni la precisión o fiabilidad de la información obtenida a través del Servicio, ni que se corrijan los defectos que, en su caso, tenga el software.
Usted expresamente entiende y acepta que Wido no será responsable de ningún daño directo, indirecto, accidental o especial, que tenga como consecuencia daños y perjuicios, incluyendo daños por pérdida de beneficios, datos u otras pérdidas intangibles resultantes del mal uso o de la incapacidad para utilizar el Servicio.
En ningún caso Wido o nuestros proveedores serán responsables por la pérdida de beneficios o de ningún daño derivado de la conexión con nuestro sitio web.
Usted se compromete a no reproducir, duplicar, copiar, vender, revender o explotar cualquier porción del Servicio, uso del Servicio, o acceso al Servicio sin el permiso expreso y por escrito de Wido.
Es posible, aunque Wido no tiene la obligación, de retirar cualquier Contenido y Cuentas con contenido que consideremos, según nuestro criterio: delictivo, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno o de dudosa reputación o que viole cualquiera de las partes de la propiedad intelectual o estos Términos y Condiciones de este Servicio.

Wido entiende que la privacidad es importante para usted. Sin embargo, usted está de acuerdo en que Wido tiene derecho en todo momento de suprimir o rechazar la distribución de cualquier contenido en el Servicio, como contenidos que infrinjan los términos de este Acuerdo. Wido también se reserva el derecho de acceder, leer, preservar y revelar cualquier tipo de información que razonablemente crea necesaria para (a) cumplir cualquier ley, regulación, proceso legal o solicitud gubernamental, (b) garantizar el cumplimiento de este Acuerdo, incluyendo la investigación de posibles violaciones, (c) detectar, prevenir cualquier modo de fraude, seguridad o temas técnicos (incluyendo, sin limitación, el filtrado de spam), (d) responder a solicitudes de apoyo a los usuarios (e) proteger los derechos, seguridad y propiedad de Wido. 
Wido no será responsable del ejercicio o no ejercicio de sus derechos en virtud del presente Acuerdo.
Como Usuario vendedor a través de la plataforma Wido te comprometes a ceder un espacio de tu tienda que permita identificarnos claramente como proveedor de servicio con un texto y enlaces a definir por Wido a modo de huella o marca de agua. El texto debe ser claramente visible en el pie de página de tu tienda para todos los clientes online, y permanente durante toda la navegación en dicha Web. Este espacio podría ser eliminado con el pago de una tarifa mensual a establecer por Wido.
La información personal recopilada por Wido puede ser almacenada y procesada en los Estados Unidos Mexicanos o en cualquier otro país en el que Wido o sus agentes tengan instalaciones. Mediante el uso de Wido, usted da su consentimiento para cualquier transferencia de información fuera de su país.

<h3 class="titulo2">Documentos legales</h3>

Las tiendas de Wido son creadas con aquellas páginas legales necesarias para la actividad de las tiendas (Condiciones de compra, aviso legal y política de privacidad). Los contenidos de estas páginas deben ser tomados como orientativos y es responsabilidad del Usuario Vendedor tenerlos actualizados y acorde a la legislación vigente que aplique a su actividad, productos y zona geográfica.

<h3 class="titulo2">Derechos de Propiedad Intelectual de Wido</h3>

Usted reconoce que Wido posee todos los derechos, títulos e intereses sobre y para el Servicio, incluyendo, sin limitación, todos los derechos de propiedad intelectual, los cuales están protegidos por la Legislación Mexicana y las leyes internacionales de propiedad intelectual. En consecuencia, acepta no copiar, reproducir, alterar, modificar ni crear trabajos derivados del Servicio prestado por Wido. También acepta que no va a utilizar robots, arañas, cualquier otro tipo de software automatizado o procesos manuales para controlar o copiar cualquier contenido del Servicio. Los derechos de Wido incluyen los derechos a: (I) el Servicio desarrollado y proporcionado por Wido, y (II) todo el software asociado con el Servicio. 
Los derechos de Wido no incluyen el contenido del Usuario Vendedor usados como parte del Servicio, incluyendo el contenido de las comunicaciones que aparecen en el Servicio proporcionado por el Usuario Vendedor.

<h3 class="titulo2">Derechos de Propiedad Intelectual del Usuario Vendedor</h3>

Wido no reclama la titularidad de ninguno de los contenidos, incluyendo cualquier texto, datos, información, imágenes, fotografías, música, sonido, video, u otros materiales, que usted inserte, transmita o almacene en su cuenta de Usuario Vendedor de Wido. Sin embargo, se reserva el derecho de utilizar parte de su contenido para la promoción y difusión del mismo.

<h3 class="titulo2">Cancelación y Terminación</h3>

Usted puede cancelar el uso de los Servicios y/o rescindir el presente Acuerdo, con o sin causa, en cualquier momento notificándolo a Wido (contacto@wido.mx) con al menos una semana de antelación a la siguiente fecha de facturación, que se realizará siempre por anticipado. Podrá cancelar su subscripción en todo momento siempre y cuando haya superado el periodo mínimo de contratación de 1 mes. Debe tener en cuenta, que una vez usted pague el servicio no podrá reclamar la devolución del importe.
Wido podrá en cualquier momento y por cualquier motivo, dar por finalizados los Servicios, denunciar el presente Acuerdo, o suspender o cancelar su cuenta. En el caso de cancelación, su cuenta se desactivará y no podrá concederse el acceso a su cuenta o a los archivos o cualquier otro tipo de contenido que figura en su cuenta, aunque las copias residuales de la información pueden permanecer en nuestro sistema.

<h3 class="titulo2">Fraude e impagos</h3>

Sin perjuicio de cualquier otro recurso, Wido podrá suspender o cancelar su cuenta si sospechamos que usted ha participado o está participando en una actividad fraudulenta en el sitio web de Wido.
Wido se reserva el derecho de suspender el servicio sin previo aviso a aquellos clientes que no abonen, a su debido tiempo, su cuota periódica por el uso del servicio. Además, Wido se reserva también el derecho de penalizar con $500.00 (quinientos pesos Moneda Nacional 00/100) y asignar una forma de pago distinta.

<h3 class="titulo2">Indemnización</h3>

Usted acepta mantener indemne e indemnizar a Wido y sus subsidiarias, afiliados, funcionarios, agentes y empleados, de y contra cualquier reclamación de terceros derivada de alguna forma relacionada con el uso que el Usuario Vendedor haga del Servicio, incluyendo la responsabilidad o gasto ocasionado por las reclamaciones, pérdidas, daños (reales y derivados), demandas, juicios, litigios, costes y honorarios de abogados, de cualquier tipo y naturaleza. En tal caso, Wido proporcionará al Usuario Vendedor una notificación escrita de dicha reclamación, litigio o acción.

<h3 class="titulo2">Legislación aplicable y jurisdicción competente</h3>
 
Estos términos se regirán bajo las leyes de los Estados Unidos Mexicanos. Los tribunales de los Estados Unidos Mexicanos  tendrán la exclusiva jurisdicción y competencia para resolver cualquier disputa. Para caso de controversia sobre la interpretación, cumplimiento y ejecución que surja de estos Términos y Condiciones de Uso, las partes se someten expresamente a la jurisdicción y competencia de los tribunales competentes ubicados en la ciudad de Guadalajara, Jalisco, México; renunciando al fuero o jurisdicción, que pudiere corresponderles por razón de sus domicilios presentes o futuros.


	
</article>
	
</div>

{% endblock %}
