@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e604";
}
.icon-play:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-calendar2:before {
	content: "\e607";
}
.icon-print:before {
	content: "\e608";
}
.icon-keyboard:before {
	content: "\e609";
}
.icon-users:before {
	content: "\e60a";
}
.icon-cog:before {
	content: "\e60b";
}
.icon-google-plus:before {
	content: "\e60c";
}
.icon-google-plus2:before {
	content: "\e60d";
}
.icon-google:before {
	content: "\e60e";
}
.icon-twitter:before {
	content: "\e60f";
}
.icon-twitter2:before {
	content: "\e610";
}
.icon-twitter3:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}
.icon-facebook2:before {
	content: "\e613";
}
.icon-facebook3:before {
	content: "\e614";
}
.icon-feed:before {
	content: "\e615";
}
.icon-tumblr:before {
	content: "\e616";
}
.icon-spinner:before {
	content: "\e617";
}
.icon-spinner2:before {
	content: "\e618";
}
.icon-user:before {
	content: "\e619";
}
.icon-box-add:before {
	content: "\e61a";
}
.icon-compass:before {
	content: "\e61b";
}
.icon-location:before {
	content: "\e61c";
}
.icon-library:before {
	content: "\e61d";
}
.icon-office:before {
	content: "\e61e";
}
.icon-image:before {
	content: "\e61f";
}
.icon-file:before {
	content: "\e620";
}
.icon-profile:before {
	content: "\e621";
}
.icon-file2:before {
	content: "\e622";
}
.icon-podcast:before {
	content: "\e623";
}
.icon-connection:before {
	content: "\e624";
}
.icon-bullhorn:before {
	content: "\e625";
}
.icon-cart:before {
	content: "\e626";
}
.icon-cart2:before {
	content: "\e627";
}
.icon-cart3:before {
	content: "\e628";
}
.icon-busy:before {
	content: "\e629";
}
.icon-mobile:before {
	content: "\e62a";
}
.icon-mobile2:before {
	content: "\e62b";
}
.icon-screen:before {
	content: "\e62c";
}
.icon-disk:before {
	content: "\e62d";
}
.icon-happy:before {
	content: "\e62e";
}
.icon-sad:before {
	content: "\e62f";
}
.icon-paragraph-right:before {
	content: "\e630";
}
.icon-paragraph-justify:before {
	content: "\e631";
}
.icon-paragraph-left:before {
	content: "\e632";
}
.icon-paragraph-center:before {
	content: "\e633";
}
.icon-paragraph-right2:before {
	content: "\e634";
}
.icon-paragraph-justify2:before {
	content: "\e635";
}
.icon-share:before {
	content: "\e636";
}
.icon-mail:before {
	content: "\e637";
}
.icon-google-plus3:before {
	content: "\e638";
}
.icon-google-plus4:before {
	content: "\e639";
}
.icon-google-drive:before {
	content: "\e63a";
}
.icon-android:before {
	content: "\e63b";
}
.icon-tumblr2:before {
	content: "\e63c";
}
.icon-heart:before {
	content: "\e63d";
}
.icon-heart2:before {
	content: "\e63e";
}
.icon-star:before {
	content: "\e63f";
}
.icon-eye:before {
	content: "\e640";
}
.icon-eye-blocked:before {
	content: "\e641";
}
.icon-flag:before {
	content: "\e642";
}
.icon-switch:before {
	content: "\e643";
}
.icon-accessibility:before {
	content: "\e644";
}
.icon-food:before {
	content: "\e645";
}
.icon-airplane:before {
	content: "\e646";
}
.icon-cogs:before {
	content: "\e647";
}
.icon-cog2:before {
	content: "\e648";
}
.icon-bubbles:before {
	content: "\e649";
}
.icon-bubbles2:before {
	content: "\e64a";
}
.icon-tablet:before {
	content: "\e64b";
}
.icon-cabinet:before {
	content: "\e64c";
}
.icon-tag:before {
	content: "\e64d";
}
.icon-folder-open:before {
	content: "\e64e";
}
.icon-pushpin:before {
	content: "\e64f";
}
.icon-image2:before {
	content: "\e650";
}
.icon-camera:before {
	content: "\e651";
}
.icon-images:before {
	content: "\e652";
}
.icon-music:before {
	content: "\e653";
}
.icon-file3:before {
	content: "\e654";
}
.icon-phone:before {
	content: "\e655";
}
.icon-map:before {
	content: "\e656";
}
.icon-coin:before {
	content: "\e657";
}
.icon-stats:before {
	content: "\e658";
}
.icon-bars:before {
	content: "\e659";
}
.icon-gift:before {
	content: "\e65a";
}
.icon-trophy:before {
	content: "\e65b";
}
.icon-cloud-upload:before {
	content: "\e65c";
}
.icon-point-right:before {
	content: "\e65d";
}
.icon-point-down:before {
	content: "\e65e";
}
.icon-checkmark:before {
	content: "\e65f";
}
.icon-checkmark2:before {
	content: "\e660";
}
.icon-plus:before {
	content: "\e661";
}
.icon-minus:before {
	content: "\e662";
}
.icon-exit:before {
	content: "\e663";
}
.icon-arrow-up-left:before {
	content: "\e664";
}
.icon-arrow-up:before {
	content: "\e665";
}
.icon-arrow-up-right:before {
	content: "\e666";
}
.icon-arrow-down-right:before {
	content: "\e667";
}
.icon-arrow-down-left:before {
	content: "\e668";
}
.icon-arrow-left:before {
	content: "\e669";
}
.icon-arrow-up-left2:before {
	content: "\e66a";
}
.icon-arrow-up2:before {
	content: "\e66b";
}
.icon-arrow-up-right2:before {
	content: "\e66c";
}
.icon-arrow-right:before {
	content: "\e66d";
}
.icon-arrow-down-right2:before {
	content: "\e66e";
}
.icon-arrow-down:before {
	content: "\e66f";
}
.icon-arrow-down-left2:before {
	content: "\e670";
}
.icon-arrow-left2:before {
	content: "\e671";
}
.icon-html5:before {
	content: "\e672";
}
.icon-html52:before {
	content: "\e673";
}
.icon-css3:before {
	content: "\e674";
}
.icon-IE:before {
	content: "\e675";
}
.icon-firefox:before {
	content: "\e676";
}
.icon-chrome:before {
	content: "\e677";
}
.icon-opera:before {
	content: "\e678";
}
.icon-safari:before {
	content: "\e679";
}
.icon-IcoMoon:before {
	content: "\e67a";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e603";
}
.icon-directions:before {
	content: "\e67b";
}
.icon-mail2:before {
	content: "\e67c";
}
.icon-erase:before {
	content: "\e67d";
}
.icon-cross:before {
	content: "\e67e";
}
.icon-twitter4:before {
	content: "\e67f";
}
.icon-twitter5:before {
	content: "\e680";
}
.icon-facebook4:before {
	content: "\e681";
}
