 <aside >
              <nav>
                  <ul class='list-none'>
                    <li id='primero' >
                      <label class='icon-cart color-azul iconos'></label>
                      <label class="color-azul">Mis Pedidos</label>
                       <UL>
                        <a href="/pedidosPanel/Pendiente/" id=''>
                           <li>Pendientes</li>
                        </a>
                        <a href="/pedidosPanel/Pagado/">
                          <li>Pagados</li>
                        </a>
                        <a href="/pedidosPanel/Completado/">
                         <li>Completados</li>
                        </A>
                       </UL>

                      
                    </li>
                    <li id='descripcion'>
                      <label class='icon-cabinet color-rojo iconos'></label>
                       <label class="color-rojo">Mis Categorias</label>
                       <UL>
                        <a href='/categorias/'>
                           <li>Lista</li>
                         </a> 
                        <a href='/categoria/nueva/'>
                         <li>Agregar</li>
                       </UL>
                       </a> 
                    </li>

                    <li >
                       <label class='icon-box-add color-verde iconos'></label>
                       
                         
                         <label class="color-verde" style='cursor:pointer'>Mis Productos</label>
                      
                       
                        <UL>
                          <a href="/productos/" title="Lista de Productos">
                            <li>Lista</li> 
                          </a>
                         <a href='/producto/nuevo/'>
                           <li>Agregar</li>
                         </a> 
                         <a href='/proximamente/Promociones/'>
                           <li>Promociones</li>
                         </a> 
                         
                       </UL>

                    </li>

                    

                    <li>
                      <label class='flaticon-shop5 color-amarillo iconos'></label>
                       <label class="color-amarillo">Administración</label>

                         
                          <ul >
                             <a href="/User/" title="Datos de Usuario">
                               <li>
                               Mis Datos
                              </li>
                             </a>
                            <a href="/Tienda/" title="Mi tienda">
                               <li>
                               Mi Tienda
                              </li>
                            </a>
                            
                           
                             <a href='/envios/'>
                               <li>Mis envios</li>
                             </a> 

                             <a href='/Anuncios/'>
                               <li>Mis Anuncios</li>
                             </a> 
                            <a href="/pasarelas/" title="Pagos ONLINE">
                              <li>Pagos ONLINE</li>
                            </a>
                            <a href="/clientesTienda/" title="Mis Clientes">
                              <li>Mis Clientes</li>
                            </a>

                            <a href="/miEstilo/" title="Mi estilo">
                            <li>Mi estilo</li>
                            </a>

                            
                          </ul>


                      


                    </li>

                   


                    <li >
                      <label class='icon-eye color-azul iconos'></label>

                      <a   href= "http://{{miPagina.domain}}" TARGET='blank'  >
                      <label  class="color-azul" style='cursor:pointer'>Ver mi tienda</label>
                      </a>
                    </li>
                    
                    <li >

                      <label class='icon-exit color-rojo iconos'></label>

                     
                     <a href="/Salir/"> <label  class="color-rojo" style='cursor:pointer'>Salir</label> </a>
                     
                    </li>

                    
                    


                   </ul>
            </nav>

                     
                 
        </aside>