{% extends "adminTemplate.html" %}

  {% block estilos %}
    {% load static from staticfiles %}
     <link rel="stylesheet" href="{% static "css/panel/paquetes.css" %}" />
  {% endblock %}

	{% block content %}
       
   
      <section id='contenedor-tabla'>

            
        <table id='paquetes' cellspacing='0'>

          <tr  id='cabecera' height='20'>
            <td width='100' >Codigo</td>
            <td  >Nombre</td>
            <td width='100' >Maximo</td>

           <td width='60' >Editar</td>

            <td width='60' >Eliminar</td>
          </tr>

          {% for p in paquetes %}

          <tr>
            <td>{{p.idpaquetes}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.maximo}}</td>
            <td class='centrado color-naranja'>
              <a href="/paquetes/{{forma}}/{{p.idpaquetes}}/" title="Modificar" class='modify'>
                <label class='icon-cog inline iconosp color-naranja'></label>
              </a>

            </td>
            <td class='centrado'> 
              <label class='icon-happy iconosp color-verde inline delete' data-id='{{p.idpaquetes}}' data-elemento='PaquetesFormaenvio' data-forma='{{forma}}'></label>
            </td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="5">
              <label class="icon-sad color-rojo"></label> Aún no has agregado Paquetes
            </td>
          </tr>
          {% endfor %}
        </table>
      </section>
          
     <a href="/paquetes/nuevo/{{metodo}}/" title="Agregar paquete">
      <p class="boton bgcolor-verde color-blanco centrado negritas" id='metodo-add'>
          <label class="icon-plus"> </label>
          Agregar nuevo Paquete
      </p>
     
    </a>


     

    {% endblock %}

    {% block scripts %}

      
    <script src="{% static "js/panel/eliminar.js" %}"></script>
    {% endblock %}