header input
{
	display: none;
}
header h2
{
	width: 506px
}
#container
{
	margin-left: 10px;
	margin-top: 13px;
	display: inline-block;
	width: 72%;
}
.ultimo
{
	position: relative;
	cursor:pointer;
}
.ultimo #container-spot
{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 1em;
	box-sizing:border-box;
}
.ultimo input
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor:pointer;
}
#imagenes-form .logo
{
	width: 215px;
}
#imagenes-form{
	width: 40%
}

#mapa-interno{
	border: dashed 1.5px #a5a5a5;
	width: 44%;
	height: 150px;
	padding: 5px;
}